body{
	background-color: #eee;
}

.loader {
	position: absolute;
	top: 90%;
	left: 2em;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #f36e23; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.benefits{
  padding-top: 20%;
}

.loginSpace{
	padding-top: 10%;
}

.space{
  padding-top: 15%;
}

.dashboardSpace{
  margin-top: 5%;
  padding: 1%;
}

.font_right{
  text-align: right;
}

.login{
	padding: 10px;
	padding-top: 15px;
}

.loginLogo{
	width: 200px;
	display: block;
	margin: auto;
	padding-bottom: 2em;
	padding-top: 1em;
}


.faq{
	margin-top: 5%;
}

.faqFirst{
	margin-top: 2%;
}

.activeDash{
	display: block;
}

.barcode{
	padding-left: 1em;
}

.spaceDash{
	padding-top: .6em;
	padding-bottom: .4em;
	font-size: 15px;
}

.spaceDash .text-center{
	padding-left: 1em;
}

@media(max-width: 1200px){
	.barcode{
		width: 200px;
		height: 200px;
	}
	.dashBtn{
		left:0;
	}
}

@media(max-width: 992px){
	.dashBtn{
		left: 0;
	}
	.activeDash{
		display: none;
	}
}

.bal{
	margin-bottom: .75em;
	text-align: right;
	padding-right: 1.5em;
}