body{
	background-color: #eee;
}

.benefits{
  padding-top: 20%;
}

.loginSpace{
	padding-top: 10%;
}

.space{
  padding-top: 15%;
}

.dashboardSpace{
  margin-top: 5%;
  padding: 1%;
}

.font_right{
  text-align: right;
}

.login{
	padding: 10px;
	padding-top: 15px;
}

.loginLogo{
	width: 200px;
	display: block;
	margin: auto;
	padding-bottom: 2em;
	padding-top: 1em;
}

.dashBtn{
  position: absolute;
  left: 50%;
  bottom: 0;
}

.faq{
	margin-top: 5%;
}

.faqFirst{
	margin-top: 2%;
}

@media(max-width: 1200px){
	.barcode{
		width: 200px;
		height: 200px;
	}
	.dashBtn{
		left:0;
	}
}

@media(max-width: 992px){
	.dashBtn{
		left: 0;
	}
}